
.toolbar_container{
    position: fixed; 
    width: 100%;
    z-index: 10;
}
mat-toolbar{
    background-color: #0394fc;
}

.all_text{
color: #FBEEE6;
}

.main{
    width: 100%;
}


span{
    margin-left: 10px;
}

.float_right{
    float: right;
}

.menu_text{
    font-size: 14px;
}