  <div class="toolbar_container">
    <mat-toolbar class="all_text">
        <h2>MIMAP</h2> 
      <div class="main all_text">
        <span class="menu_text float_right">
            <span>Home</span>
            <span>MyOrders</span>
            <span>Cart</span>
            <span>
                <i class="material-icons" style="vertical-align: sub" [matMenuTriggerFor]="menu">
                    menu
                </i>
            </span>
        </span>
      
        <mat-menu #menu="matMenu">
            <button mat-menu-item>Profile</button>
            <button mat-menu-item>Wishlist</button>
        </mat-menu>
      </div>
      </mat-toolbar>
  </div>