  <div class="toolbar_container">
    <mat-toolbar class="all_text">
        <h2>MIMAP</h2> 
      <div class="main all_text">
        <span class="menu_text float_right">
            <span [routerLink]="['/home']">Home</span>
            <span [routerLink]="['/profile']">My Profile</span>

            <span>
                <i class="material-icons" style="vertical-align: sub" [matMenuTriggerFor]="menu">
                    menu
                </i>
            </span>
        </span>
      
        <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['/home']">Home</button>
            <button mat-menu-item [routerLink]="['/profile']">MyProfile</button>
        </mat-menu>
      </div>
      </mat-toolbar>
  </div>