/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.main_container{
    padding-top: 75px;
    }
.card_details{
        padding: 20px;
        text-align: center;
    }
mat-dialog-title{
    background-color: #0394fc;
}

.btn_color{
    background-color: #0394fc;
}

.text_color{
    color: white;
}
