.dot {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
  }
  .dot1{
    height: 10px;
    width: 10px;
    background-color: #bbbb;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
  }
  .content{
      text-align: center;
      margin-top: 20px;
  }
  .find_btn{
      color: #0394fc;
  }