<div class="main_container">
    <div class="card_details">
        <mat-form-field class="w-100" appearance='outline' >
            <input matInput type="text" placeholder="Enter a job Description">
        </mat-form-field>
        <span style="margin-left: 30px;"><button mat-raised-button class="btn_color text_color" (click)="onClickRegister()"><mat-icon matPrefix>search</mat-icon>Search</button></span>
        <br><button mat-raised-button class="btn_color text_color" (click)="onClickRegister()">Register</button>
    </div>
</div>
