<div class="main_dialog">
  <div class="title">
    <span class="title_text">Register</span>
    <span>
      <i class="material-icons closeIcon" (click)="closeDialog()">close</i>
    </span>

  </div>

  <div mat-dialog-content>
    <div class="col-lg-12 col-md-12 col-12">
      <form [formGroup]="registerForm" class="row">
        <div class="col-lg-2 col-md-3 col-3">
          <span class="photo_upload_div" (click)="fileInput.click()">
            <input type="file" accept="image/*" #fileInput (click)="fileInput.value = null" formControlName="profilepic"
              (change)="imageUpload($event)" style="display: none;">
            <i class="material-icons camera">
              account_box
            </i>
            <!-- <div class="change__profile_image-selected" [style.backgroundImage]="'url('+ imageContainer +')'"></div> -->
          </span>
        </div>
        <div class="col-lg-10 col-md-9 col-9">


          <mat-form-field appearance='outline' style="width: 40%; margin-right: 15px;">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="fname" type="text">
          </mat-form-field>

          <mat-form-field appearance='outline' style="width: 35%;">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lname" type="text">
          </mat-form-field>

          <mat-form-field appearance='outline' style="width: 80%;">
            <mat-label>Email</mat-label>
            <input matInput type="mail" formControlName="email">
          </mat-form-field>
          <mat-form-field appearance='outline' style="width: 80%;">
            <mat-label>Phone Number</mat-label>
            <input matInput type="number" formControlName="phone">
          </mat-form-field>
          <br>
          <mat-label>Age</mat-label>&nbsp;<mat-label *ngIf="age > 0">{{age}}</mat-label>
          <mat-slider min="0" max="60" step="1" [(value)]="age" style="width: 80%;"></mat-slider>
          <mat-form-field appearance='outline' style="width: 80%;">
            <mat-label>State</mat-label>
            <mat-select [(value)]="state" formControlName="state">
              <mat-option value="Maharashtra">
                Maharashtra
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance='outline' style="width: 80%;">
            <mat-label>Country</mat-label>
            <mat-select [(value)]="country" formControlName="country">
              <mat-option value="India">
                india
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance='outline' style="width: 80%;">
            <mat-label>Address</mat-label>
            <mat-select [(value)]="country">
              <mat-option value="home">
                Home
              </mat-option>
              <mat-option value="company">
                Comapny
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div>
            <mat-form-field appearance='outline' style="width: 80%;">
              <mat-label>HomeAddress1</mat-label>
              <input matInput type="text" formControlName="homeAddress1">
            </mat-form-field>
            <mat-form-field appearance='outline' style="width: 80%;">
              <mat-label>HomeAddress2</mat-label>
              <input matInput type="text" formControlName="homeAddress2">
            </mat-form-field>
          </div>


          <div>
            <mat-form-field appearance='outline' style="width: 80%;">
              <mat-label>CompanyAddress1</mat-label>
              <input matInput type="text" formControlName="companyAddress1">
            </mat-form-field>
            <mat-form-field appearance='outline' style="width: 80%;">
              <mat-label>CompanyAddress2</mat-label>
              <input matInput type="text" formControlName="companyAddress2">
            </mat-form-field>
          </div>
          <mat-form-field class="example-chip-list">
            <mat-chip-list #chipList aria-label="tag selection">
              <mat-chip *ngFor="let tag of tags" [selectable]="selectable"
                       [removable]="removable" (removed)="remove(tag)">
                {{tag.name}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input placeholder="New hobbies..."
                     [matChipInputFor]="chipList"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     [matChipInputAddOnBlur]="addOnBlur"
                     (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
          </mat-form-field>
          <mat-checkbox (change)='subscribeCheckbox($event)'>subscribe to newsletter</mat-checkbox>
        </div>
      </form>
    </div>
  </div>
  <div mat-dialog-actions class="action_div">
    <button mat-stroked-button (click)="closeDialog()">Cancel</button>
    <button mat-flat-button class="btn_color text_color" (click)="onSubmitForm()" cdkFocusInitial>Submit</button>
  </div>
</div>