.btn{
    background-color: yellow;
    margin: 10px;
}

.card_border{
    border: solid 1px;
    margin: 5px;
}

.btn_agree{
    background-color: green;
    color: white;
    margin-top: 14%;
    float: right;
}